/*
    OBJECTS.CONTAINER
    ----


    Wrapping content, to a limited size or now
==================================================== */

$container-sizes:(
	xxs: 480px,
	xs: 600px,
	sm: 720px,
	sml: 800px,
	md: 880px,
	mdl: 960px,
	lg: 1080px,
	xl: 1280px,
	xxl: 1440px
);


.o-container{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: $g-spacing-unit * 2;
   opacity: 0;

	@include mappy-bp(sm){
      padding: $g-spacing-unit * 4;
	}

	&--flush{
		padding: {
			left: 0;
			right: 0;
		}
	}


   &--intro-animate{
      transition: opacity 0.8s cubic-bezier(.09,.35,.02,.98);
      opacity: 1;
   }
}
