/*
    OBJECTS.CONTAINER
    ----


    Wrapping content, to a limited size or now
==================================================== */

$container-sizes:(
	xxs: 480px,
	xs: 600px,
	sm: 720px,
	sml: 800px,
	md: 880px,
	mdl: 960px,
	lg: 1080px,
	xl: 1280px,
	xxl: 1440px
);


.o-container{
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: $g-spacing-unit * 2;
   opacity: 0;
   z-index: 1;
   transform: translateY(-$g-spacing-unit * 2);
   transition: opacity 0.6s cubic-bezier(.09,.35,.02,.98), transform 1.2s cubic-bezier(.09,.35,.02,.98);
	@include mappy-bp(sm){
      padding: ($g-spacing-unit * 4) ($g-spacing-unit * 10) ($g-spacing-unit * 4) ($g-spacing-unit * 4);
	}

	&--flush{
		padding: {
			left: 0;
			right: 0;
		}
	}


   &--intro-animate{
      opacity: 1;
      transform: translateY(0);
   }

   &--out-animate{
      opacity: 0;
   }

   &--footer{
      padding: $g-spacing-unit * 2;
      @include mappy-bp(sm){
         padding: $g-spacing-unit * 4;
      }
      section{
         position: static;
      }
   }
}
