.o-nav{
   position: relative;
}

.o-nav__logo{
   position: fixed;
   width: $g-spacing-unit * 7;
   height: $g-spacing-unit * 7;
   z-index: 9999;
}

.o-nav__container{
   margin-left: $g-spacing-unit * 9;
   height: $g-spacing-unit * 7;
   display: inline-block;

   &--side{
      z-index: 9999;
      position: fixed;
      top: $g-spacing-unit * 19;
      left: -($g-spacing-unit * 10);
      margin-left: 0;
      transform: rotate(-90deg);
   }
}

.o-nav__link{
   display: inline-flex;
   align-items: center;
   height: 100%;
   margin: 0 $g-spacing-unit * 2;

   text-transform: uppercase;
   color: white;

   letter-spacing: 3px;
   font-size: 14px;
   font-family: HKGrotesk-Bold;
   font-weight: 700;

   &:hover,
   &:focus{
      color: getAppColor(brand);
   }
}
