.o-section{
   z-index: 3;
   padding:{
      top: $g-baseline;
      bottom: $g-baseline;
   }

   @include mappy-bp(sm){
      top: $g-baseline * 2;
      bottom: $g-baseline * 2;
   }

   &--breathe-top{
      padding-top: $g-baseline * 4;
   }
}

.o-section--landing{
   padding-top: 15vh;
   overflow: hidden;
}


