.c-cube-container{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   transform: scale(1);
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.c-cube{
   width: 50vw;
   height: 50vw;
   transition: transform 2s cubic-bezier(.09,.35,.02,.98);
   @include mappy-bp(sm){
      width: 50vh;
      height: 50vh;
   }
}

.c-cube__face{
   position: absolute;
   width: 100%;
   height: 100%;
}

.c-cube__face--inside{
   width: 50%;
   height: 50%;
   opacity: 0.6;

   &.c-cube__front,
   &.c-cube__back {
      margin-left: 25%;
      margin-top: 25%;
   }

   &.c-cube__front{
      transform: translateZ(12.5vw);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh);
      }
   }

   &.c-cube__back {
      transform: translateZ(-12.5vw);
      @include mappy-bp(sm){
         transform: translateZ(-12.5vh);
      }
   }

   &.c-cube__top{
      margin-left: 25%;
      margin-top: 50%;
      transform: translateZ(12.5vw) rotateX(90deg) translateY(-49.8%);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh) rotateX(90deg) translateY(-49.8%);
      }
   }

   &.c-cube__bottom{
      margin-left: 25%;
      margin-bottom: 50%;
      transform: translateZ(12.5vw) rotateX(90deg) translateY(-49.8%);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh) rotateX(90deg) translateY(-49.8%);
      }
   }

   &.c-cube__left,
   &.c-cube__right {
      margin-top: 25%;
      margin-right: 50%;
      margin-left: 50%;
      transform: translateZ(12.5vw) rotateY(90deg) translateX(49.8%);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh) rotateY(90deg) translateX(49.8%);
      }
   }


}


//------FACES------//

.c-cube__front{
   transform: translateZ(25vw);
   @include mappy-bp(sm){
      transform: translateZ(25vh);
   }
}

.c-cube__back{
   top: 0;
   left: 0;
   transform: translateZ(-25vw);
   @include mappy-bp(sm){
      transform: translateZ(-25vh);
   }
}

.c-cube__bottom{
   bottom: -49.8%;
   left: 0;
   transform: translateZ(25vw) rotateX(90deg) translateY(-49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateX(90deg) translateY(-49.8%);
   }
}

.c-cube__top{
   top: -49.8%;
   transform: translateZ(25vw) rotateX(90deg) translateY(-49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateX(90deg) translateY(-49.8%);
   }
}

.c-cube__left{
   left: -49.8%;
   transform: translateZ(25vw) rotateY(90deg) translateX(49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateY(90deg) translateX(49.8%);
   }
}

.c-cube__right{
   right: -49.8%;
   top: 0;
   transform: translateZ(25vw) rotateY(90deg) translateX(49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateY(90deg) translateX(49.8%);
   }
}


//------PARALLAX------//

.c-cube-parallax-base-js div {
  opacity: .7;
  background: rgba(0, 0, 0, 0.06);
}

.c-cube-parallax-container-js {

  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.c-cube-parallax-base-js {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
