.c-cube-container{
   display: flex;
   opacity: 1;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 1;
   transform: scale(0.5);
   opacity: 0;
   will-change: transform, opacity;
   transition: transform 0.5s ease, opacity 0.5s ease;
   &--intro-animate{
      transform: scale(1);
      opacity: 1;
   }
}

.c-cube{
   width: 50vw;
   height: 50vw;
   will-change: transform;
   transition: transform 4s cubic-bezier(.09,.35,.02,.98);
   transform: rotateX(45deg) rotateY(-45deg);
   @include mappy-bp(sm){
      transform: none;
      width: 50vh;
      height: 50vh;
   }

   &--dark{
      .c-cube__face--bg-default{
         background: repeating-radial-gradient(#161616 10%, #555555 20%);
         opacity: 0.4;
         animation: face-bg-animation 2s ease-out infinite;
      }
   }

   &--blue{
      .c-cube__face--bg-default{
         background: repeating-radial-gradient(#0002C9 10%, #3A3CFF 20%);
         opacity: 0.4;
         animation: face-bg-animation 2s ease-out infinite;
      }
   }
}

@keyframes face-bg-animation {
   0%{background-size: 100% 100%; background-position: 0% 0%;}
   80%{background-size: 1000% 1000%; background-position: 0% 0%;}
   100%{background-size: 1000% 1000%; background-position: 0% 0%;}
}


@keyframes infinite-rotate {
   from{transform: rotateX(0deg) rotateY(0deg);}
   to{transform: rotateX(360deg) rotateY(720deg);}
}

.c-cube__face{
   background: url("../assets/images/logo_outline.svg");
   background-size: 100% 100%;
   position: absolute;
   width: 100%;
   height: 100%;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

   &--dark{
      background: url("../assets/images/logo_outline-dark.svg");
   }

   &--blue{
      background: url("../assets/images/logo_outline-blue.svg");
   }
}

.c-cube__face--inside{
   width: 50%;
   height: 50%;
   opacity: 0.6;

   &.c-cube__front,
   &.c-cube__back {
      margin-left: 25%;
      margin-top: 25%;
   }

   &.c-cube__front{
      transform: translateZ(12.5vw);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh);
      }
   }

   &.c-cube__back {
      transform: translateZ(-12.5vw);
      @include mappy-bp(sm){
         transform: translateZ(-12.5vh);
      }
   }

   &.c-cube__top{
      margin-left: 25%;
      margin-top: 50%;
      transform: translateZ(12.5vw) rotateX(90deg) translateY(-49.8%);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh) rotateX(90deg) translateY(-49.8%);
      }
   }

   &.c-cube__bottom{
      margin-left: 25%;
      margin-bottom: 50%;
      transform: translateZ(12.5vw) rotateX(90deg) translateY(-49.8%);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh) rotateX(90deg) translateY(-49.8%);
      }
   }

   &.c-cube__left,
   &.c-cube__right {
      margin-top: 25%;
      margin-right: 50%;
      margin-left: 50%;
      transform: translateZ(12.5vw) rotateY(90deg) translateX(49.8%);
      @include mappy-bp(sm){
         transform: translateZ(12.5vh) rotateY(90deg) translateX(49.8%);
      }
   }


}

//------CUBE INSIDE IMAGE------//

.c-cube__face--bg-default{
   background: repeating-radial-gradient(#FFFFFF 10%, #AAAAAA 20%);
   opacity: 0.4;
   animation: face-bg-animation 2s ease-out infinite;
}

.c-cube__face--bg-sonic{
   background: url('../assets/images/retro.gif');
   background-size: 100% 100%;
}

$cubefaces: 'profile','ws',
'1w4g','mix','mauvais','shift','ruc','enemm',
'contact','c-insta','c-fb','c-tw','c-be','c-vimeo','c-gh',
'18';

@each $i in $cubefaces {
   .c-cube__face--bg-#{$i}{
      background: url('../assets/images/#{$i}.jpg');
      background-size: 100% 100%;
   }
}

//------FACES------//

.c-cube__front{
   transform: translateZ(25vw);
   @include mappy-bp(sm){
      transform: translateZ(25vh);
   }
}

.c-cube__back{
   top: 0;
   left: 0;
   transform: translateZ(-25vw);
   @include mappy-bp(sm){
      transform: translateZ(-25vh);
   }
}

.c-cube__bottom{
   bottom: -49.8%;
   left: 0;
   transform: translateZ(25vw) rotateX(90deg) translateY(-49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateX(90deg) translateY(-49.8%);
   }
}

.c-cube__top{
   top: -49.8%;
   transform: translateZ(25vw) rotateX(90deg) translateY(-49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateX(90deg) translateY(-49.8%);
   }
}

.c-cube__left{
   left: -49.8%;
   transform: translateZ(25vw) rotateY(90deg) translateX(49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateY(90deg) translateX(49.8%);
   }
}

.c-cube__right{
   right: -49.8%;
   top: 0;
   transform: translateZ(25vw) rotateY(90deg) translateX(49.8%);
   @include mappy-bp(sm){
      transform: translateZ(25vh) rotateY(90deg) translateX(49.8%);
   }
}

@keyframes cube-in {
    from {-moz-transform: scale(0); -webkit-transform: scale(0)}
    to {-moz-transform: scale(1); -webkit-transform: scale(1)}
}

@keyframes cube-out {
    from {-moz-transform: scale(1); -webkit-transform: scale(1)}
    to {-moz-transform: scale(0); -webkit-transform: scale(0)}
}

@keyframes cube-rotate-in {
    from {transform: rotateX(0deg) rotateY(0deg);}
    to {transform: rotateX(45deg) rotateY(45deg);}
}

@keyframes cube-rotate-out {
    from {transform: rotateX(45deg) rotateY(45deg);}
    to {transform: rotateX(0deg) rotateY(0deg);}
}

//------PARALLAX------//

.c-cube-parallax-base-js div {
  opacity: .75;
}

.c-cube-parallax-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.c-cube-parallax-base-js {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
