.c-image{
   width: 100%;
   &--outline{
      border: solid 1px black;
   }
}

.c-image-footer{
   width: 30px;
   height: 30px;

   &--align-r{
      float: right;
   }
}

.c-image-footer-container{
   display: inline-flex;
   justify-content: flex-end;
}

.c-image-arrow{
   display: none;
   width: $g-spacing-unit * 2;
   height: auto;
   position: absolute;
   right: - $g-spacing-unit * 6;
   bottom: 0;
   @include mappy-bp(sm){
      display: block;
   }
}
