.c-image{
   width: 100%;
   &--outline{
      border: solid 1px black;
   }
}

.c-image-footer{
   width: 30px;
   height: 30px;

   &--align-r{
      float: right;
   }
}

.c-image-footer-container{
   display: inline-flex;
   justify-content: flex-end;
}
