.c-title{
   @include font-size(40px,52px);
   position: relative;
   display: inline-block;
   color: black;
   z-index: 2;
   overflow: hidden;
   padding: 0 5px 5px 0;

   @include mappy-bp(sm){
      @include font-size(50px,65px);
   }

   @include mappy-bp(mdl){
      @include font-size(60px,78px);
   }

   @include mappy-bp(xl){
      @include font-size(70px,91px);
   }

   @include mappy-bp(xxl){
      @include font-size(80px,104px);
   }

   &--outline{
      color: white;
      -webkit-text-stroke: 1px white;
   }

   &--bold{
      font-family: 'Zwizz-Bold', Helvetica, sans-serif;
      font-weight: 700;
   }

   &--selectable{
      &:hover,
      &:focus{
         color: white;
         -webkit-text-stroke: 1px black;

         .c-text-note{
            color: black;
            -webkit-text-stroke: 0px;
         }
      }
   }

   &--h2{
      @include font-size(28px,36.4px);

      @include mappy-bp(sm){
         @include font-size(36px,46.8px);
      }

      @include mappy-bp(mdl){
         @include font-size(42px,54.6px);
      }

      @include mappy-bp(xl){
         @include font-size(50px,65px);
      }

      @include mappy-bp(xxl){
         @include font-size(60px,78px);
      }
   }

   &--h3{
      @include font-size(22px,28.6px);

      @include mappy-bp(sm){
         @include font-size(32px,41.6px);
      }

      @include mappy-bp(mdl){
         @include font-size(36px,46.8px);
      }

      @include mappy-bp(xl){
         @include font-size(44px,57.2px);
      }

      @include mappy-bp(xxl){
         @include font-size(40px,52px);
      }
   }
}
