.c-text{
   font-size: 18px;
   color: black;
}

.c-text-note{
   font-family: 'Space Mono', monospace;
   font-weight: 400;
   @include font-size(18px,27px);
   color: black;
   display: inline-block;

   &--sm{
      @include font-size(14px,18.2px);
   }
}
