.c-text{
   @include font-size(16px,25px);
   color: black;
   max-width: 800px;

   &--breathe{
      padding: ($g-spacing-unit * 6) 0 ($g-spacing-unit * 6) 0;
   }

   @include mappy-bp(sm){
      @include font-size(18px,28px);
   }

   &--bold{
      font-family: 'Zwizz-Bold', Helvetica, sans-serif;
      font-weight: 700;
   }

   &--indication{
      @include font-size(12px,19px);
   }
}

.c-text-note{
   font-family: 'Space Mono', monospace;
   font-weight: 400;
   @include font-size(16px,25px);
   color: black;

   @include mappy-bp(sm){
      @include font-size(18px,27px);
   }

   &--underline{
      text-decoration: underline;
   }

   &--inline{
      display: inline-block;
   }

   &--sm{
      @include font-size(14px,18.2px);
   }

   &--label{
      @include font-size(14px,24px);
      border: solid 1px black;
      padding: 0 $g-spacing-unit / 1.5;

      @include mappy-bp(sm){
         @include font-size(16px,24px);
      }
   }

   &--label-orange{
      @include font-size(14px,24px);
      border: solid 1px getAppColor(pallet, orange);
      padding: 0 $g-spacing-unit / 1.5;

      @include mappy-bp(sm){
         @include font-size(16px,24px);
      }
   }

   &--expand-sm{
      width: 100%;
      @include mappy-bp(sm){
         width: auto;
      }
   }
}
