{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold">1 Word 4 Gifs</h1>

   <section class="o-section o-grid">

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <p class="c-text">Date</p>
         <p class="c-text c-text--bold">February 2017</p>
         <br>
         <p class="c-text">For</p>
         <p class="c-text c-text--bold">Shift APPens'17 hackathon</p>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <p class="c-text u-m-b-3x">Web game created on Shift APPens, a 48 hours hackathon. The name is self explanatory, the challenge is to guess the word in common between series of four GIF images in 20 seconds. The more words guessed, better the score will be. At the core of this game is the Giphy API, which provide all the GIFs from their datbase.</p>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-0 u-p-b-3x@md">
         <img class="c-image" src="assets/images/1w4g_1.jpg" alt="1 Word 4 Gifs logo">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-3x">
         <img class="c-image" src="assets/images/1w4g_2.jpg" alt="1 Word 4 Gifs game screen">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h2 class="c-title c-title--h3 c-title--description">The more words guessed,<br> better the score will be.</h2>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/1w4g_3.jpg" alt="1 Word 4 Gifs game screen">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/1w4g_4.jpg" alt="1 Word 4 Gifs hall of fame">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h2 class="c-title c-title--h3 c-title--description">Play on: <br><a href="http://1word4gifs.co.nf/" target="_blank" class="external-click-js">1word4gifs.co.nf</a></h2>
      </div>




      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="mixtapes" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js cube-bg-mix-js hover-show-cube-js">Next project</a>
      </div>

   </section>
</article>
