{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold">About me</h1>

   <section class="o-section o-grid">

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <h2 class="c-title c-title--h3 u-m-b-3x">The tl:dr version of my life story (yeah, it's quite short).</h2>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <p class="c-text u-m-b-3x">Who am I, well let's start with the beggining. I was born in 1995 at the small city of Rio Maior and since I was a child, my interests were already connected in some way to what I'm do now. Initialy because of the infinite hours playing on a cheap Nintendo 8-Bit clone and when I learned how to use a computer, spending the time creating masterpieces on Paint or making amazing Comic Sans powered Windows themes.
         <br><br>
         By the time (or maybe a few years later) I had in mind that my vocation should be on something between computer science and design. And so it happen in 2013, when I started my Bachelor degree on Design and Multimedia at University of Coimbra. Three years full of everything - design projects, websites, hackathons and much more that lead me to Whitesmith, where I'm currently working since 2016.
      </div>



      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-3x">
         <img class="c-image" src="assets/images/about__image-1.jpg">
      </div>

      <div class="o-grid__el u-size-6/12"></div>

      <div class="o-grid__el u-size-12/12 u-size-6/12@md">
         <h2 class="c-title c-title--h3 u-m-t-3x u-m-b-3x">So, what I really do?</h2>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <h3 class="c-title c-title--h4 c-title--bold u-p-b-0 u-m-t-3x">Multimedia Design</h3>
         <p>Focused on the following areas:</p>
         <ul class="c-list u-m-t-3x u-m-b-3x">
            <li class="c-text-note u-m-b">— Graphic design</li>
            <li class="c-text-note u-m-b">— Editorial design</li>
            <li class="c-text-note u-m-b">— Motion design</li>
            <li class="c-text-note u-m-b">— UX/UI design</li>
         </ul>

         <h3 class="c-title c-title--h4 c-title--bold u-p-b-0 u-m-t-3x">Front-end Development</h3>
         <p>Working with the following tech stack:</p>
         <ul class="c-list u-m-t-3x u-m-b-3x">
            <li class="c-text-note u-m-b">— HTML</li>
            <li class="c-text-note u-m-b">— CSS/SASS</li>
            <li class="c-text-note u-m-b">— JavaScript/jQuery</li>
            <li class="c-text-note u-m-b">— Ruby on Rails</li>
            <li class="c-text-note u-m-b">— React</li>
            <li class="c-text-note u-m-b">— React Native</li>
         </ul>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-3x">
         <img class="c-image" src="assets/images/about__image-2.jpg">
      </div>

      <div class="o-grid__el u-size-6/12"></div>
      <div class="o-grid__el u-size-6/12"></div>


      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <h3 class="c-title c-title--h4 c-title--bold u-m-t-3x">About this website</h3>
         <div class="o-grid">
            <div class="o-grid__el u-size-12/12 u-size-6/12@md u-m-b-3x u-m-t">
               <p class="c-text u-m-b">Design &amp; Dev</p>
               <p class="c-text c-text--bold">João Marques</p>
            </div>
            <div class="o-grid__el u-size-12/12 u-size-6/12@md u-m-b-3x u-m-t">
               <p class="c-text u-m-b">Photography</p>
               <p class="c-text c-text--bold">Catarina Lucas</p>
            </div>
            <div class="o-grid__el u-size-12/12 u-size-6/12@md u-m-b-3x u-m-t">
               <p class="c-text u-m-b">Typefaces</p>
               <div class="u-m-b-2x">
                  <p class="c-text c-text--bold">Zwizz</p>
                  <a class="c-note-button c-text-note--sm external-click-js" href="https://hanken.co/product/zwizz-typeface/" target="_blank">by hanken.co</a>
               </div>
               <div class="u-m-b">
                  <p class="c-text c-text--bold">Space Mono</p>
                  <a class="c-note-button c-text-note--sm external-click-js" href="https://www.colophon-foundry.org/" target="_blank">by colorphon-foundry.org</a>
               </div>
            </div>

            <div class="o-grid__el u-size-12/12 u-size-6/12@md u-m-b-3x u-m-t">
               <p class="c-text u-m-b">Webstarter kit</p>
               <p class="c-text c-text--bold">Qnorr 🍆</p>
               <a class="c-note-button c-text-note--sm external-click-js" href="https://github.com/whitesmith/qnorr" target="_blank">by whitesmith.co</a>
            </div>
         </div>
      </div>
      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="contact" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js hover-show-cube-js cube-bg-zelda-js ">Contact</a>
      </div>

   </section>
</article>
