{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold">Contact</h1>

   <section class="o-section o-grid">
      <div class="o-grid__el u-size-12/12">
         <h3 class="c-title c-title--h3">It's dangerous to go alone! Take this.</h3>
         <br>
         <a class="c-title c-title--bold c-title--selectable hover-show-cube-js hover-sound-js cube-bg-zelda-js external-click-js" href="mailto:joaornmarques@gmail.com?Subject=Hello%20João.">
            joaornmarques<br class="u-hidden-@sm">@gmail.com
         </a>
      </div>
   </section>
   <section class="o-section o-section--breathe-top o-grid">
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md"></div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <p class="c-text u-m-b-3x">Or even this.</p>
         <div class="o-grid">
            <div class="o-grid__el u-size-12/12 u-size-6/12@md u-m-b-2x">
               <p class="c-text c-text--bold">Behance</p>
               <a class="c-note-button c-text-note--sm external-click-js" href="https://www.behance.net/joaorafaelmarques" target="_blank">/joaorafaelmarques</a>
               <p class="c-text c-text--bold u-m-t-2x">Instagram</p>
               <a class="c-note-button c-text-note--sm external-click-js" href="https://www.instagram.com/joaornmarques/" target="_blank">/joaornmarques</a>
               <p class="c-text c-text--bold u-m-t-2x">Vimeo</p>
               <a class="c-note-button c-text-note--sm external-click-js" href="https://vimeo.com/joaonrmarques" target="_blank">/joaornmarques</a>
            </div>
            <div class="o-grid__el u-size-12/12 u-size-6/12@md u-m-b-3x">
               <p class="c-text c-text--bold">Facebook</p>
               <a class="c-note-button c-text-note--sm external-click-js" href="https://www.facebook.com/joaornmarques" target="_blank">/joaornmarques</a>
               <p class="c-text c-text--bold u-m-t-2x">Twitter</p>
               <a class="c-note-button c-text-note--sm external-click-js" href="https://twitter.com/joaornmarques" target="_blank">@joaornmarques</a>
               <p class="c-text c-text--bold u-m-t-2x">LinkedIn</p>
               <a class="c-note-button c-text-note--sm external-click-js" href="https://www.linkedin.com/in/joaornmarques/" target="_blank">/joaornmarques</a>
            </div>
         </div>
      </div>

      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="about" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js hover-show-cube-js cube-bg-profile-js">About me</a>
      </div>

   </section>
</article>
