{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index"><- back to home</a>
   </div>
   <h1 class="c-title c-title--bold">Contact</h1>

   <section class="o-section o-grid">

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <h2 class="c-title c-title--h3 u-m-b-3x">Get in touch cenas whaaaat</h2>
      </div>




      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="/" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js hover-show-cube-js">Get in touch</a>
      </div>

   </section>
</article>
