{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold u-m-b-3x">ENEMM'19</h1>


   <section class="o-section o-grid">

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">

         <p class="c-text c-text--bold">Branding &#38; Graphic design</p>
         <p class="c-text c-text--bold">March 2019</p>
         <p class="c-text c-text--bold">NEI/AAC</p>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <p class="c-text u-m-b-3x">The multimedia students national meeting (ENEMM) 4th edition had place in Coimbra, Portugal. An event full of talks, workshops and exhibitions approaching the different areas of multimedia, like AR/VR, videmapping, web design and many others. I had been invited to do the branding of this edition, in collaboration with Rúben Silva and Sofia Torres. The core element explored was a modular grid, inspired on multimedia's tools and objects such as electric boards or led monitors. The color pallete was a reference to the host city official colors, yellow and purple.</p>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-0 u-p-b-3x@md">
         <img class="c-image" src="assets/images/enemm-1.jpg" alt="ENEMM branding">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-3x">
         <img class="c-image" src="assets/images/enemm-2.jpg" alt="ENEMM speakers divulgation">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h2 class="c-title c-title--h3 c-title--description">Four days of talks, workshops and exhibitions in the most varied areas of multimedia.</h2>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/enemm-3.jpg" alt="ENEMM social networks divulgation">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/enemm-4.jpg" alt="ENEMM venue decoration">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
        <h3 class="c-title c-title--h3 u-m-b-3x">More about ENEMM'19:<br>
          <a href="https://www.facebook.com/enemm.multimedia/" target="_blank" class="external-click-js c-title--link">Facebook page</a>
        </h3>
      </div>




      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="1word4gifs" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js cube-bg-1w4g-js hover-show-cube-js">Next project</a>
      </div>

   </section>
</article>

<!--LOAD CUBE IMAGES-->
<img class="u-hidden" src="assets/images/mixtape.jpg">
