{{> _cube }}

<div class="o-container">
   <section class="o-grid">
      <div class="o-grid__el u-size-12/12 u-size-8/12@sm">
         <h1 class="c-title">I'm
            <span class="c-title--bold c-title--selectable cube-bg-profile-js hover-sound-js">João Marques</span>, a
            <span class="c-title--bold">Cross-media Designer</span>,
            <span class="c-title--bold">Front-end Developer</span> and
            <span class="c-title--selectable cube-bg-sonic-js hover-sound-js">retro gaming geek</span>, currently working at
            <span class="c-title--bold c-title--selectable cube-bg-ws-js hover-sound-js">Whitesmith</span>.
         </h1>


         <br><br><br><br><h1 class="c-title">I'm <span class="c-title--bold">João Marques</span>, a <span class="c-title--bold">Cross-media Designer</span>, <span class="c-title--bold">Front-end Developer</span> and Retro gaming geek, currently working at <span class="c-title--bold c-title--selectable cube-bg-ws-js">Whitesmith</span>.</h1>
      </div>
   </section>
</div>
