<section class="c-logo-container parallax-container">
   <div class="c-logo-mountage parallax-base">
         <img src="/assets/images/logo_shadows.svg" class="c-logo__top">
         <img src="/assets/images/logo_shadows.svg" class="c-logo__left">
         <img src="/assets/images/logo_shadows.svg" class="c-logo">
         <img src="/assets/images/logo_shadows.svg" class="c-logo__bottom">
         <img src="/assets/images/logo_shadows.svg" class="c-logo__right">
         <img src="/assets/images/logo_shadows.svg" class="c-logo__back">
   </div>
</section>


