<section class="o-section o-section--landing">
   <article data-flitem="grow--" data-flout="middle--">
      <div class="o-container">
         <div class="o-block">
            <h1 class="c-title title-main-js"><span class="c-title__overlay"></span><span class="c-title__container">João Marques</span></h1><br>
            <h2 class="c-title c-title--outline title-second-js"><span class="c-title__overlay"></span><span class="c-title__container">Multimedia designer<br>& Front-end developer</span></h2>
            <p class="c-text c-text--breathe-top text-landing-js">This is a super early version, it's just the qnorr setup actually</p>
            <div class="c-image--landing">
               <div class="c-image--landing-overlay c-image--landing-overlay--black"></div>
               <div class="c-image--landing-overlay"></div>
            </div>
         </div>
      </div>
   </article>
</section>



<section class="o-section o-projects">
   <article data-flitem="grow--" data-flout="middle--">
      <div class="o-container u-text-c u-text-l@sm">
         <div class="o-block">
            <h1 class="u-ts-mega u-color-brand u-m-b-2x">The ~future~ João Marques website</h1>
            <p class="u-ts-3 u-color-grayscale--heaven">This is a super early version, it's just the qnorr setup actually</p>
         </div>
   </article>
</section>
