{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold">Mauvais Sang</h1>

   <section class="o-section o-grid">

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <p class="c-text c-text--bold">Motion Design</p>
         <p class="c-text c-text--bold">April 2016</p>
         <p class="c-text c-text--bold">Academic work (FCT University of Coimbra)</p>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <p class="c-text u-m-b-3x">Visual score of an excert of the film Mauvais Sang, from Leos Carax, which include the songs J'ai pas d'regrets by Serge Reggiani and Modern Love by David Bowie. The challange purposed on this project was to transform all the sound present on this excert into visual elements, so it was taken as base a few elementar geometric shapes to represent specific sounds and musical instruments, with the differentiation between musical and silent scenes maded by the contrast between black and white.</p>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x">
         <div class="video-container">
            <iframe src="https://player.vimeo.com/video/141647238?color=4153FC&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <p class="c-text-note c-text-note--sm u-m-t">Mauvais Sang (Excert), Leos Carax - 1986</p>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-3x u-p-b-3x@md">
         <div class="video-container">
            <iframe src="https://player.vimeo.com/video/163121891?color=4153FC&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
         </div>
         <p class="c-text-note c-text-note--sm u-m-t">Visual score</p>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image c-image--gif" src="assets/images/mauvaisG2.gif">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mauvais3.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mauvais4.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h3 class="c-title c-title--h3">J'ai pas d'regrets<br>— Serge Reggiani</h3>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mauvais5.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image c-image--gif" src="assets/images/mauvaisG1.gif">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mauvais7.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h2 class="c-title c-title--h3 u-m-b-3x">Modern Love<br>— David Bowie</h2>
      </div>



      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="shiftappens" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js cube-bg-shift-js hover-show-cube-js">Next project</a>
      </div>

   </section>
</article>

<!--LOAD CUBE IMAGES-->
<img class="u-hidden" src="assets/images/shift.jpg">
