{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold u-m-b-3x">Mixtapes covers</h1>

   <section class="o-section o-grid">

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <p class="c-text c-text--bold">Graphic Design</p>
         <p class="c-text c-text--bold">February — December 2017</p>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <p class="c-text u-m-b-3x">Covers for mixtapes and playlists curated by me on Soundcloud and Spotify. All the covers share the same graphic style, combining the consistent use of subtile gradients with HK Grotesk font, without loosing their own identity.</p>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-0 u-p-b-3x@md">
         <img class="c-image" src="assets/images/mixtape1.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-3x">
         <img class="c-image" src="assets/images/mixtape2.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mixtape3.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h3 class="c-title c-title--h3 u-m-b-3x">Listen on Soundcloud:<br>
            <a href="https://soundcloud.com/joaornmarques/untitled-mixtape-1" target="_blank" class="external-click-js c-title--link">Untitled Mixtape #1</a>
            <br>
            <a href="https://soundcloud.com/joaornmarques/untitled-mixtape-2" target="_blank" class="external-click-js c-title--link">Untitled Mixtape #2</a>
         </h3>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mixtape4.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mixtape5.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h3 class="c-title c-title--h3 u-m-b-3x">Listen on Spotify:<br>
         <a href="https://open.spotify.com/user/11101276873/playlist/76COHnTDmYfxUSHVddRjP5" target="_blank" class="external-click-js c-title--link">d O p E</a>
         <br>
         <a href="https://open.spotify.com/user/11101276873/playlist/7f4i1SHsdmvguWgCOPSldE" target="_blank" class="external-click-js c-title--link">Electronic Hidden Gems</a>
         <br>
         <a href="https://open.spotify.com/user/11101276873/playlist/0SmHxOyAGuvhrKdtfhK1HT" target="_blank" class="external-click-js c-title--link">Summer'17</a>
         <br>
         <a href="https://open.spotify.com/user/11101276873/playlist/3D9OPun8YV2AEDshdXzu7C" target="_blank" class="external-click-js c-title--link">Chill Zone</a>
         </h3>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/mixtape6.jpg">
      </div>



      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="mauvais" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js cube-bg-mauvais-js hover-show-cube-js">Next project</a>
      </div>

   </section>
</article>

<!--LOAD CUBE IMAGES-->
<img class="u-hidden" src="assets/images/mauvais.jpg">
