{{> _cube }}

<article class="o-container">
   <div class="u-m-b-3x">
   <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold">Mixtapes covers</h1>

   <section class="o-section o-grid">

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">

      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md">
         <p class="c-text u-m-b-3x">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-0 u-p-b-3x@md">
         <img class="c-image" src="assets/images/about__image-2.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-t-3x u-p-b-3x">
         <img class="c-image" src="assets/images/about__image-2.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <h2 class="c-title c-title--h3 u-m-b-3x">Mixtape about text</h2>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/about__image-2.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/about__image-2.jpg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-6/12@md u-p-b-3x">
         <img class="c-image" src="assets/images/about__image-2.jpg">
      </div>



      <div class="o-grid__el u-size-12/12 u-m-t-3x">
         <p class="c-title c-title--bold">—</p>
      </div>

      <div class="o-grid__el u-size-12/12">
         <a href="mauvais" class="c-title c-title--bold c-title--breathe c-title--selectable hover-sound-js cube-bg-mauvais-js hover-show-cube-js">Next project</a>
      </div>

   </section>
</article>
