/*
    BASE.FONTS
    ----

* ==================================================== */

/* Use mixin to include desired font, one mixin per weight/style pair */
//@include font-face($font-family: 'FontNAME', $file-path: 'fontPath', $font-weight: '500', $font-style: 'normal', $RoR: false);

@font-face {
    font-family: Zwizz-Bold;
    src: url("../assets/fonts/Zwizz/700/Zwizz-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Zwizz-Regular;
    src: url("../assets/fonts/Zwizz/400/Zwizz-Regular.woff");
    font-weight: 400;
}


body{
	font: normal 1rem/1.5 'Zwizz-Regular', Helvetica, sans-serif;
	letter-spacing: -0.2px;
	color: getAppColor('grayscale', 'base');
	 -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-weight: normal;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Zwizz-Regular', Helvetica, sans-serif;
   font-weight: 400;
}


