{{> _cube-construction }}

<article class="o-container landing-js">
   <section class="o-section">
      <div class="u-m-b-3x">
         <a class="c-note-button c-text-note--sm" href="{{root}}index">&larr; back to home</a>
      </div>
      <h1 class="c-title c-title--bold">Blog</h1>
      <div class="o-grid">
         <div class="o-grid__el u-size-12/12 u-size-8/12@xs u-size-5/12@md u-p-b-3x">
            <p class="c-text">As you can see this would be the place of my future blog, where I would talk about stuffs and give opinions about some other stuffs, <i>eventually</i>. Meanwhile, stay with this ridiculous *Under Construction* gif, just like in the 90's internet.</p>
         </div>
      </div>
   </section>
</article>

<!--LOAD CUBE IMAGES-->
<img src="assets/images/con.gif" class="u-hidden">
