{{> _cube }}

<article class="o-container landing-js">
   <div class="u-m-b-3x">
      <a class="c-note-button c-text-note--sm" href="{{root}}index">&larr; back to home</a>
   </div>
   <h1 class="c-title c-title--bold u-m-b-3x">Blog</h1>
   <section class="o-section o-grid">
      <div class="o-grid__el u-size-12/12 u-size-6/12@sm u-m-b-3x">
         <p>This is where I talk about stuffs and give opinions about some other stuffs. <br>New posts everytime I remember of.</p>
      </div>
      <div class="o-grid__el u-m-b-3x">
         <a class="c-title c-title--bold c-title--selectable hover-sound-js cube-bg-18-js" href="{{root}}blog/18of18">
            The 18 of '18
            <p class="c-text-note c-text-note--inline c-text-note--expand-sm u-p-l-1/2 u-p-l@sm"><span class="c-text-note--label">MUSIC</span> 01 APR 2019</p>
         </a>
      </div>
   </section>
</article>

<!--LOAD CUBE IMAGES-->
<img class="u-hidden" src="../assets/images/con.gif">
<img class="u-hidden" src="..assets/images/18_of_18.jpg">
