<article class="o-container">
  <div class="u-m-b-3x">
  <a class="c-note-button c-text-note--sm" href="index">&larr; back to home</a>
  </div>
  <h1 class="u-hidden">My 2019 in Music</h1>
  <div class="c-2019__header">
    <img src="../assets/images/2019/music-title.svg" alt="My 2019 in Music" class="u-m-b-3x"/>
    <p class="c-text-note u-color-2019--music">The 10 albums I enjoyed the most during this year, ranked.</p>
  </div>
  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-10.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Toro Y Moi</span> — Outer Peace
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#10</h3>
      </div>
      <div class="c-2019__section-text">
        <p class="c-text">First time I heard this album, the song <span class="c-text--bold">Who I Am</span> immediately jumped out to me. I listened it countless times on loop right after. But beside that, there are other great songs here, as <span class="c-text--bold">Baby Drive Me Down</span> and <span class="c-text--bold">New House</span>. <br><br>Note that it also have what is my favorite album cover of this year, not only is the photography incredible but it also fit on <i>Outer Space</i>'s mood perfectly.</p>
        <br>
        <div class="c-2019__section-track">
          <p>Favourite track</p>
          <a class="c-note-button external-click-js" href="https://open.spotify.com/track/5jWSjp2RrTsLH34Io2JBTq" target="_blank">&#9658; Who I Am</a>
        </div>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-9.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Chance the Rapper</span> — The Big Day
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#9</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-8.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Kanye West</span> — Jesus Is King
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#8</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-7.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">David Bruno</span> — Miramar Confidencial
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#7</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-6.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">The Strokes</span> — Comedown Machine
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#6</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-5.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Trippie Redd</span> — A Love Letter To You 3
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#5</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-4.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Goldlink</span> — Diaspora
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#4</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-3.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Kodak Black</span> — Dying to Live
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#3</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-2.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Juice WRLD</span> — Death Race for Love
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#2</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

  <section class="c-2019__section">
    <div class="c-2019__section-cover" style="background: url('../assets/images/2019/music-1.jpg');"></div>
    <div class="c-2019__section-marquee">
      <h2 class="c-2019__section-title">
        <span class="--bold">Tyler, The Creator</span> — IGOR
      </h2>
    </div>
    <div class="c-2019__section-description">
      <div class="c-2019__section-number">
        <h3>#1</h3>
      </div>
      <div>
        <p class="c-text">asdasdasd ad<br> sadas<br> dsa das das  d</p>
      </div>
    </div>
  </section>

</article>

