<section class="c-cube-container c-cube-parallax-container">
   <div class="c-cube c-cube-parallax-base-js c-cube--blue">
      <div class="c-cube__face c-cube__face--inside c-cube__face--bg-default c-cube__top"></div>
      <div class="c-cube__face c-cube__face--inside c-cube__face--bg-default c-cube__left"></div>
      <div class="c-cube__face c-cube__face--inside c-cube__face--bg-default c-cube__front"></div>
      <div class="c-cube__face c-cube__face--inside c-cube__face--bg-default c-cube__bottom"></div>
      <div class="c-cube__face c-cube__face--inside c-cube__face--bg-default c-cube__right"></div>
      <div class="c-cube__face c-cube__face--inside c-cube__face--bg-default c-cube__back"></div>

       <div class="c-cube__face c-cube__face--blue c-cube__top"></div>
       <div class="c-cube__face c-cube__face--blue c-cube__left"></div>
       <div class="c-cube__face c-cube__face--blue c-cube__front"></div>
       <div class="c-cube__face c-cube__face--blue c-cube__bottom"></div>
       <div class="c-cube__face c-cube__face--blue c-cube__right"></div>
       <div class="c-cube__face c-cube__face--blue c-cube__back"></div>
   </div>
</section>
