<footer class="o-container o-container--footer u-bg-color-grayscale">
   <section class="o-section o-section--breathe-top u-p-b-0 o-grid">
      <div class="o-grid__el u-size-12/12 u-size-4/12@sm">
         <div class="u-hidden-@sm u-m-b">
            <a class="c-note-button c-note-button--inverse c-text-note--sm" href="{{root}}index">home</a>
            <p class="c-text-note c-text-note--inline c-text-note--sm u-color-white u-p-h">/</p>
            <a class="c-note-button c-note-button--inverse c-text-note--sm" href="{{root}}about">about</a>
            <p class="c-text-note c-text-note--inline c-text-note--sm u-color-white u-p-h">/</p>
            <a class="c-note-button c-note-button--inverse c-text-note--inline c-text-note--sm" href="{{root}}contact">contact</a>
            <p class="c-text-note c-text-note--inline c-text-note--sm u-color-white u-p-h">/</p>
            <a class="c-note-button c-note-button--inverse c-text-note--inline c-text-note--sm" href="{{root}}blog">blog</a>
         </div>
         <p class="c-text-note c-text-note--sm c-text-note--inline u-color-white u-p-t">by João Marques . {{copyrightYear}}</p>
         <img class="c-image-footer c-image-footer--align-r u-hidden-@sm" src="{{root}}assets/images/jm_logo-inverse.svg">
      </div>
      <div class="o-grid__el u-size-12/12 u-size-5/12@sm u-visible-@sm u-p-t-1/2">
         <a class="c-note-button c-note-button--inverse c-text-note--sm" href="{{root}}index">home</a>
         <p class="c-text-note c-text-note--inline c-text-note--sm u-color-white u-p-h">/</p>
         <a class="c-note-button c-note-button--inverse c-text-note--sm" href="{{root}}about">about</a>
         <p class="c-text-note c-text-note--inline c-text-note--sm u-color-white u-p-h">/</p>
         <a class="c-note-button c-note-button--inverse c-text-note--inline c-text-note--sm" href="{{root}}contact">contact</a>
         <p class="c-text-note c-text-note--inline c-text-note--sm u-color-white u-p-h">/</p>
         <a class="c-note-button c-note-button--inverse c-text-note--inline c-text-note--sm" href="{{root}}blog">blog</a>
      </div>
      <div class="o-grid__el u-size-12/12 u-size-3/12@sm c-image-footer-container u-visible-@sm">
         <img class="c-image-footer" src="{{root}}assets/images/jm_logo-inverse.svg">
      </div>
   </section>
</footer>
