<section class="o-section o-section--breathe-top o-grid">
  <div class="o-grid__el u-m-b-3x">
    <h2 class="c-title c-title--h3 u-color-pallet--orange">— Fresh new!</h2>
  </div>
  <div class="o-grid__el">
    <a class="c-title c-title--bold c-title--selectable-orange hover-sound-js cube-bg-2019-review-js"
      href="{{root}}blog/my2019inreview">
      My 2019 in review
      <p class="c-text-note c-text-note--inline u-color-pallet--orange c-text-note--expand-sm u-p-l-1/2 u-p-l@sm"><span
          class="c-text-note--label-orange">GENERAL</span> 23 DEC 2019</p>
    </a>
  </div>
  <div class="o-grid__el u-m-b-3x">
    <a class="c-note-button c-note-button--orange" href="blog">more on blog</a>
  </div>
</section>